.about_content_skills ul li {
    display: block !important;
    margin: 1% 0% !important;
}

.about_content {
    text-align: justify;
    font-size: 1.2em;
    line-height: 2em;
}

.about_heading {
    text-align: center;
    font-size: 2.2em;
    padding: 1em;
}


#bio, #skill, #exp {
    width: 100%;
    height: auto;
    position: relative;
    /*-webkit-animation: aniright 0.3s ease-in-out;
    -moz-animation: aniright 0.3s ease-in-out;
    animation: aniright 0.3s ease-in-out;*/
}

@-webkit-keyframes aniright {
  0%   { right: -100px; }
  100% { right: 0; }
}

@-moz-keyframes aniright {
  0%   { right: -100px; }
  100% { right: 0; }
}

@keyframes aniright {
  0%   { right: -100px; }
  100% { right: 0; }
}

.skills_tab {
    margin-bottom: 5%;
}

    .skills_tab ul li {
        display: inline-block;
        margin: 0% 3%;
        font-size: 1.3em;
        cursor:pointer;
    }

.about_imgs p {
    text-align: center;
    margin-top: 1%;
}

.resume {
    color: #f10027 !important;    
}