.d_contact_row {
    margin: 0 auto;
    width: 28%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.d_contact_row2 .fb {
}
/*.d_contact_row2 .fb:hover {        background-color:red;    }*/

.d_contact_row2 p img {
    width: 50px;
}
/*Social Media Styles*/

.d_contact_row_form {
    width: 80%;
    margin: auto;
}

input, textarea {
    padding: 1%;
    margin: 1% 0;
}
button {
    padding: 1%;
    margin: 1% 0;
    background-color:#b6ff00;
    border: 1px;
    font-weight: bold;
}