@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Allan);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: url(../imgs/cs.png), default;

}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
-webkit-user-select: none; /* Webkit */
-moz-user-select: none;    /* Firefox */
-ms-user-select: none;     /* IE 10  */

/* Currently not supported in Opera but will be soon */
-o-user-select: none;
user-select: none;  
}
body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #333;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 3px solid red;
}
a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: url(../imgs/cs.png), default;
}

.brand img {
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 2%;
    left: 1%;
}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
	cursor: url(../imgs/cs.png), default;
	height: 46px;
	position: absolute;
	left: 48%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 51px;
	z-index: 10;
}

.menu-opener:hover .menu.active {
  background: #616161;transition:all 0.7s ease;top: 6.5%;
}
.menu-opener.active {
	background: #616161;
	top: 6.5%;
	transition: all 0.7s ease;
}

.menu-opener-inner {
	background: #ff383f;
	height: .5rem;
	margin-left: .35rem;
	margin-top: 1.3rem;
	width: 2.5rem;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  background: #ef5350;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
	background: #ff383f;/*#f1c40f*/
	color: transparent;
	/* height: 64px; */
	position: absolute;
	top: -10%;
	left: 30.5%;/*left: 1%;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* width: 0rem; */
	height: 0rem;
	z-index: 1000;
	margin: 0 auto;
	width: 40% !important;
    font-family:Allan;
}

.menu.active {
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
  height: -webkit-calc(20% - 1.5rem);
  height: calc(20% - 1.5rem);transition:all 0.5s ease;
}

.menu.active .menu-link {
  color: white;
}
.menu.active .menu-link:hover {
  color: #000000;
}

/* Underline From Center */
.underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ffebee ;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline-from-center:hover:before, .underline-from-center:focus:before, .underline-from-center:active:before {
  left: 0;
  right: 0;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  /*margin-left: 4rem;*/
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link li {
	margin: auto;
	padding-top: 50%;
}
.menu-link a li:active {
    background:red;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}



.c1 {
	z-index: -1;
	position: absolute;
	opacity: 0.1;
}
  

