@media screen and (max-width: 740px){

.icon {
    display:block;
}

.navbar-brand > img {
    position: fixed;
    width: 100px;
    z-index: 1;
    top: 1%;
    cursor: url(../imgs/cursor1-1.png), default !important;
}

.mobilenav {
    top: 0px;
    left: 0px;
    z-index: 999;
    display: visible;
    position: absolute;
}

.home {
    height: 480px;
width:100%;
    margin-top: -1%;
}



.home_contact_btn {
    width: 40%;
    top: 87%;
    left: 29%;
    font-size: 12px;
}

.about1_mainheading {
    width: 44%;
    font-size: 30px;
    text-align: center;
}

.aboutmeskills{
    text-align:center;
}


.about_logo {
    display: none;
}

.about1 {
    height: auto;
    padding-top: 35%;
}

.about2_mainheading {
    width: 47%;
    font-size: 30px;
    text-align: center;
}

.works_mainheading {
    width: 60%;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

.gal_tabs {
    font-size: 15px;
    text-align: center;
}

.gal_ul_tabs a {
    padding: 2% 6%;
}

.col_class img {
    width: 100%;
    transition: all 0.3s linear;
    height: 120px;
}

.contact {
    height: auto;
}

.contact_mainheading {
    width: 54%;
    font-size: 30px;
    text-align: center;
}

}

@media screen and (max-width: 478px){
.icon {
    display:none;
}

.navbar-brand > img {
    position: fixed;
    width: 100px;
    z-index: 1;
    top: 1%;
    cursor: url(../imgs/cursor1-1.png), default !important;
}

.mobilenav {
    top: 10px;
    left: 10px;
    z-index: 999;
    display: visible;
    position: absolute;
}

.home {
    height: 550px;
    width:100%;
    margin-top: -1%;
}



.home_contact_btn {
    width: 40%;
    top: 87%;
    left: 29%;
    font-size: 12px;
}

.about1_mainheading {
    width: 44%;
    font-size: 20px;
    text-align: center;
}

.aboutmeskills{
    text-align:center;
}


.about_logo {
    display: none;
}

.about1 {
    height: auto;
}

.about2_mainheading {
    width: 47%;
    font-size: 20px;
    text-align: center;
}

.works_mainheading {
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

.gal_tabs {
    font-size: 15px;
    text-align: center;
}

.gal_ul_tabs a {
    padding: 2% 6%;
}

.col_class img {
    width: 100%;
    height: 0%;
    transition: all 0.3s linear;
}

.contact {
    height: auto;
}

.contact_mainheading {
    width: 54%;
    font-size: 20px;
    text-align: center;
}

.worksimg img {
    width: 100%;
}

}

