
body{
    background-color:#fafafa;/*#C69AD3*/
    width:100%;
    height:500px;
}

.works{
    padding-top:5%;
    text-align:center;
}

.works_tab li {
	padding: 1%;
	font-size: 2.5em;
	display: inline-block;
}
.bio_group {
	font-size: 2em;
}
