@font-face {
    font-family: Beyond_Wonderland;
	src: url('../fonts/Beyond_Wonderland.ttf');
}
*{
	margin: 0px;
	padding: 0px;
}
.navbar-default {
	background-color: #101010 !important; 
	border-color: #101010 !important;
	opacity: 0.8;
}
.navbar-collapse {
	border-color: transparent !important;
}
.navbar-right {
	float: right !important;
	margin-right: 480px !important;
	margin-top: 10px;
}
.navbar-nav > li {
	font-size: 20px;
	font-family: Beyond_Wonderland;
	padding: 0px 60px !important;
}
.navbar-nav > li > a{
	outline-offset: -150px !important;
	color: white !important;
}
.navbar-nav > li > a:hover{
	color: gray !important;
}
.navbar-nav > li > a:focus{
	color: gray !important;
}


.enter {
	border: 1px solid white;
	padding: 10px;
	font-size: 20px;
	top: 165%;
	left: 47.5%;
	position: absolute;
	color: white;
}
.enter:hover{
	color: white !important;
}
.enter:focus{
	color: white !important;
	outline-offset: -150px;
}

/*HOME PAGE*/

.home{width: 100%;height: 800px;background-image: url("../imgs/1.1.jpg");background-attachment: fixed;background-size: cover;}

.lable{
	padding-top: 65px;
	text-align: center;
	color: white;
	font-size: 80px;
	font-family: Beyond_Wonderland;
	position: relative;
	z-index: 1;
}

.navbar-brand {
	color: white !important;
	font-size: 25px !important;
	font-family: Beyond_Wonderland;
	border: 2px solid white;
	margin: 10px 0px 10px -10px !important;
}



/*ABOUT PAGE*/
.about{height: 800px;width: 100%;}
.about_content {
	text-align: center;
	padding-top: 80px;
}
.c1{
	border: 2px solid black;
	margin: 0px 10px;
}

/*SERVICE PAGE*/
.works{height: 800px;width: 100%;background-image: url("../imgs/2.jpg");background-attachment: fixed;background-size: cover;}
.works_content {
	text-align: center;
	padding-top: 80px;
}
.works_w ul li{
	list-style: none;
}


/*CONTACT PAGE*/
.contact{height: 790px;width: 100%;}
.contact_content {
	text-align: center;
	padding-top: 280px;
}

