 <form name="conForm" action="sample.php" method="POST" >

        <p>
            <label>First Name:</label><br>
            <input type="text" name="user" ng-model="name" required>
        </p>

        <p>
            <label>Email Address:</label><br>
            <input type="email" name="email" ng-model="email" required>
        </p>

        <p>
            <label>User Message:</label>
            <textarea type="text" name="mess" class="form-control" rows="4" ng-model="mess" ng-minlength="5" ng-maxlength="100" required></textarea>
        </p>

        <p>
            <label>Phone Number:</label>
            <input type="text" name="mob" ng-model="mob" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" ng-minlength="10" ng-maxlength="10" required />
        </p>

       <input type="submit" value="Submit" />


    </form>
