
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}



/*New Style*/

.slides {
    text-align: center;
    vertical-align: middle;
    background: red !important;
}

.tabs {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
}

    .tabs ul li {
        list-style-type: none;
        display: inline-block;
        margin: 0% 1%;
        border: 2px solid;
        padding: 0.4% 1%;
    }

    .w_active {
    background: #f10027;
    border: 2px solid #000 !important;
    transition:1s ease-in-out;
}

    .w_active:hover {
    background: rgba(236, 33, 37, 0.67);
    border: 2px solid #000 !important;
    }
