<!DOCTYPE html>
<!-- define angular app -->
<html ng-app="sample">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content=" " />
    <meta name="description" content=" " />
    <meta name="author" content=" " />

    <title>AB</title>

    <link href="css/textAngular.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,‌​100italic,300,300ita‌​lic,400italic,500,50‌​0italic,700,700itali‌​c,900italic,900' rel='stylesheet' type='text/css'>
    <link href="css/owl.carousel.min.css" rel="stylesheet" />

    <!-- SCROLLS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

    <link href="css/style.css" rel="stylesheet" />
    <link href="css/ani.css" rel="stylesheet" />

</head>
<!-- define angular controller -->
<body ng-controller="mainController" id="btt">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand brand_img1" href="#" ng-click="gotoElement('main')">Brand Name</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                <ul class="nav navbar-nav navbar-right" bs-active-link>
                    <li ng-class="{ active: isActive('/home')}"><a href="#/home" ng-click="gotoElement('home')">Home</a></li>
                    <li ng-class="{ active: isActive('/course')}"><a href="#/course" ng-click="gotoElement('course')">Course</a></li>
                    <li ng-class="{ active: isActive('/contact')}"><a href="#/contact" ng-click="gotoElement('contact')">Contact</a></li>
                    <li ng-class="{ active: isActive('/dummy')}"><a href="#/dummys" ng-click="gotoElement('dummy')">Dummy</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <div id="main">

        <!--<div class="owl-carousel owl-theme">
            <div><img src="img/1.png" /></div>
        </div>-->

        <div class="images_pa">
            <img id="image1" src="img/scene/1.png" />
            <img id="image2" src="img/scene/2.png" />
            <img id="image3" src="img/scene/3.png" />
            <img id="image4" src="img/scene/4.png" />
        </div>

    </div>


    <div id="home">
        <div class="row" id="home_bg">
            <div class="container content">
                <h1>Learning Management System</h1>
                <p>Galaxies shores of the cosmic ocean, rogue from which we spring, dispassionate extraterrestrial observer. White dwarf. Globular star cluster Rig Veda, made in the interiors of collapsing stars emerged into consciousness Drake Equation</p>
                <div class="sample">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 home_left">
                <img src="img/e-learning.jpg" class="img-responsive" />
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 home_right">
                <h2>Content</h2>
                <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h4>
            </div>
        </div>
    </div>



    <div id="course">
        <div class="row">
            <div class="text_heading">Course</div>
        </div>
        <div class="row text-center">
            <div class="course_container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><p class="project_col_card1"><img src="img/1.png" /></p></div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><p class="project_col_card2"><img src="img/2.png" /></p></div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><p class="project_col_card3"><img src="img/3.png" /></p></div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><p class="project_col_card4"><img src="img/4.png" /></p></div>
            </div>
        </div>

        <!--Cart-->

        <div class="container" style="padding-top:3em;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h3>Product Cart</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <!-- Controls -->
                            <div class="controls pull-right">
                                <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                                   data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                                                            data-slide="next"></a>
                            </div>
                        </div>
                    </div>
                    <div id="carousel-example" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3" ng-repeat="collection in collections">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12">
                                                        <h5>
                                                            {{collection.product_name}}
                                                        </h5>
                                                    </div>
                                                    <div class="price col-md-12">
                                                        <h5 class="price-text-color">
                                                            {{collection.rate}}
                                                        </h5>
                                                    </div>
                                                    <div class="rating hidden-sm col-md-12">
                                                        <i class="price-text-color fa fa-star"></i>
                                                        <i class="price-text-color fa fa-star"></i>
                                                        <i class="price-text-color fa fa-star"></i>
                                                        <i class="price-text-color fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="separator clear-left">
                                                    <p class="btn-add">
                                                        <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">{{collection.add_to_cart}}</a>
                                                    </p>
                                                    <p class="btn-details">
                                                        <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">{{collection.more_details}}</a>
                                                    </p>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-3" ng-repeat="collection in collections">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12">
                                                        <h5>
                                                            {{collection.product_name}}
                                                        </h5>
                                                    </div>
                                                    <div class="price col-md-12">
                                                        <h5 class="price-text-color">
                                                            {{collection.rate}}
                                                        </h5>
                                                    </div>
                                                    <div class="rating hidden-sm col-md-12">
                                                        <i class="price-text-color fa fa-star"></i>
                                                        <i class="price-text-color fa fa-star"></i>
                                                        <i class="price-text-color fa fa-star"></i>
                                                        <i class="price-text-color fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="separator clear-left">
                                                    <p class="btn-add">
                                                        <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">{{collection.add_to_cart}}</a>
                                                    </p>
                                                    <p class="btn-details">
                                                        <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">{{collection.more_details}}</a>
                                                    </p>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="course_parallax"></div>

    </div>



    <div id="contact">
        <div class="row">
            <div class="text_heading">Contact</div>
        </div>
    </div>

    <div id="dummy">
        <div class="row">
            <div class="text_heading">Dummy</div>
        </div>
    </div>


    <div class="box">
        <a href="#/home" ng-click="gotoElement('home')"><span class="fa fa-2x fa-arrow-up"></span></a>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.6.1/angular-animate.js"></script>
    <script src="js/jquery-3.1.1.js"></script>

    <script src="js/allscript.js"></script>
    <script src="js/ang.js"></script>



    <script src="js/textAngular-rangy.min.js"></script>
    <script src="js/textAngular-sanitize.min.js"></script>
    <script src="js/textAngular.min.js"></script>
    <script src="js/owl.carousel.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel();
        });
    </script>

    <script type="text/javascript">
        var ypos, image1, image2,dummy;
        function parallex() {
            ypos = window.pageYOffset;
            image1 = document.getElementById('image1');
            image1.style.top = ypos * .35 + 'px';
            image2 = document.getElementById('image2');
            image2.style.top = ypos * .4 + 'px';
            image3 = document.getElementById('image3');
            image3.style.top = ypos * .6 + 'px';
            image4 = document.getElementById('image4');
            image4.style.top = ypos * .6 + 'px';
        }
        window.addEventListener('scroll', parallex);
    </script>

</body>
</html>
