@media screen and (min-width: 120px) and (max-width: 480px){
.logo {	margin-top: 15px;}
img.logo{
	width: 200px;
}

.text1 {
	font-size: 20px;
	font-family: Diavlo_MEDIUM;
	padding: 0px;
	text-shadow: 0px 0px 5px #ffffff;
	margin-top: 55px !important;
}

.enterbutton {
	text-align: center;
	width: 150px;
	background: green;
	background: -moz-linear-gradient(-45deg, #eecda3 0%, #ed97bb 50%, #eecda3 100%);
	background: -webkit-linear-gradient(-45deg, #eecda3 0%,#ed97bb 50%,#eecda3 100%);
	background: linear-gradient(135deg, #eecda3 0%,#ed97bb 50%,#eecda3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eecda3', endColorstr='#eecda3',GradientType=1 );
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 120px;
	border: 3px solid #CE4545;
	height: 50px;
	font-size: 20px;
	color: black;
	margin-top: -100px;
}

.enterbutton:hover{
	box-shadow:0px 1px 5px;
	transition: all 0.45s
}

.logo2 {
	float: left;
	padding: 10px;
	margin-left: 20px;
}

#nav0 {
	font-family: Diavlo_MEDIUM;
	margin: 0 auto;
	box-shadow: 0px -1px 10px;
	background: url(../imgs/bg1.gif);
}

.nav_menu {
	text-align: center;
}

ul li {
	display: inline;
	font-size: 15px;
	border-radius: 20px;
}
li a{
	padding: 0px;
    color: black !important;
	text-decoration: none !important;
}



.aright{
	margin-top: 100px;
}
.wright {
	margin-top: 300px;
	margin-left: -70px;
}
img.f1 {
	width: 150px;
	height: 100px;
	margin-top: 20px !important;
}
img.f2 {
	width: 150px;
	height: 100px;
	margin-top: 20px !important;
}

.mainpage {height: 100%;}
#page1{	height: 650px;}
#page2{	height: auto;}
#page3{	height: 100%;}

.aboutmepage{margin-top: 100px;}
.workspage{margin-top: 80px;}
.contactpage{margin-top: 100px;}





























}
