
@font-face {font-family: RobotoCondensed-Bold;src: url('../fonts/RobotoCondensed-Bold.ttf');}
@font-face {font-family: RobotoCondensed-Regular;src: url('../fonts/RobotoCondensed-Regular.ttf');}
@font-face {font-family: Blacksword;src: url('../fonts/Blacksword.otf');}
@font-face {font-family: Inconsolata-Bold;src: url('../fonts/Inconsolata-Bold.ttf');}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: RobotoCondensed-Bold;
	overflow-x: hidden;
}

nav{
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	width: 200px;
	background-color: #101010;
	transform: translate3d(-200px, 0, 0);
	transition: transform 0.4s ease;
	font-family: Inconsolata-Bold;
	font-size: 25px;
}

nav a:hover{
	color: gray !important;
}

a:focus {
	color: gray !important;
	outline-offset: -999px !important;
}

.active-nav nav{
	transform: translate3d(0, 0, 0);
	box-shadow: 5px 0px 10px black;
}


nav ul{
	list-style: none !important;
	margin-top: 100px;
}

nav ul li a {
	text-decoration: none !important;
	display: block;
	text-align: center;
	color: white;
	padding: 10px 0px;
}

.nav-toggle-btn {
	display: block;
	position: absolute;
	left: 200px;
	width: 50px;
	height: 43px;
	background-color: #3f3f3f;
	border-radius: 3px;
	text-align: center;
}

.content1{
	padding-top: 300px;
	height: 800px;
	background-color: #101010;
	transition: transform 0.4s ease;
	text-align: center;
}
.content2{
	height: 800px;
	transition: transform 0.4s ease;
	background-color: white;
}
.content3{
	padding-top: 300px;
	height: 800px;
	background-color: #101010;
	transition: transform 0.4s ease;
	text-align: center;
}

.active-nav .content1{
	transform: translate3d(200px, 0, 0);
}
.active-na .content2{
	transform: translate3d(200px, 0, 0);
}
.active-nav .content3{
	transform: translate3d(200px, 0, 0);
}

#logo1 {
	font-family: Blacksword;
	font-size: 75px;
	color: white;
}
#logo2 {
	font-family: RobotoCondensed-Regular;
	font-size: 75px;
	color: #101010;
}
#logo2 img {
	margin: -8px;
}

#logo3 {
	font-family: RobotoCondensed-Regular;
	font-size: 75px;
	color: white;
}

#listicon {
	margin-left: -3px;
}

img {
    opacity: 1;
}

img:hover {
    opacity: 0.9;
}

footer {
	text-align: center;
	color: black;
	font-size: 15px;
	bottom: 0;
	position: relative;
	left: 0;
	background-color: #e0e0e0;
	height: 50px;
	padding: 15px 0px;
}

.fa {
	font: normal normal normal 25px/1.2 FontAwesome !important;
}
.blueimp-gallery .title {
	top: 5px !important;
	left: 20px !important;
}