<div ng-controller="lightboxCtrl">
    <div class="container_width">
        <div class="row">
            <div class="col-md-3" ng-repeat="lb_images in lightbox_images">
                <a class="example-image-link" data-lightbox="example-1" title="{{lb_images.title}}" ng-href="{{lb_images.img_link}}">
                    <img class="img_effect example-image col-md-12" id="gal_top" alt="" ng-src="{{lb_images.img_preview}}">
                </a>
            </div>

            <div class="col-md-3" ng-repeat="images_s1 in sample">
                <a class="example-image-link" data-lightbox="example-1" title="{{images_s1.title}}" ng-href="{{images_s1.img_link}}">
                    <img class="img_effect example-image col-md-12" id="gal_top" alt="" ng-src="{{images_s1.img_preview}}">
                </a>
            </div>
        </div>
    </div>
</div>