.about1{
    height: 800px;
    background-color: #fff;
    padding:5% 0%;
}

.about1_mainheading {
    font-size: 3em;
    width: 13%;
    margin: 0 auto;
}

.about2{
    height: 800px;
    background-color: #df5757;
    padding:5% 0%;
}

.about2_mainheading {
    font-size: 3em;
    width: 14%;
    margin: 0 auto;
}