<link href="../css/contact.css" rel="stylesheet" />

<style>

</style>
<div class="container fadeIn animated">
    <!--<h1>Contact Page</h1>

    <p>{{ message }}</p>-->

<div class="contact" style="margin-top:10%;" ng-controller="cntrl">
    <!--<form>
        Name: <input type="text" ng-model="name" name="name">
        Email: <input type="text" ng-model="email" name="email">
        Message: <input type="text" ng-model="mess" name="mess">
        Phone: <input type="text" ng-model="mob" name="mob">
        <input type="button" value="{{btnName}}" ng-click="insertdata()">
        {{msg}}

    </form>-->

    <form name="conForm" action="?" method="POST" class="elegant-aero" novalidate required>

        <p>
            <label>First Name:</label><br>
            <input type="text" name="user" ng-model="name" required>
            <span style="color:red" ng-show="conForm.user.$dirty && conForm.user.$invalid">
                <span ng-show="conForm.user.$error.required">Username is required.</span>
            </span>
        </p>

        <p>
            <label>Email Address:</label><br>
            <input type="email" name="email" ng-model="email" required>
            <span style="color:red" ng-show="conForm.email.$dirty && conForm.email.$invalid">
                <span ng-show="conForm.email.$error.required">Email is required.</span>
                <span ng-show="conForm.email.$error.email">Invalid email address.</span>
            </span>
        </p>

        <p>
            <label>User Message:</label>
            <textarea type="text" name="mess" class="form-control" rows="4" ng-model="mess" ng-minlength="5" ng-maxlength="100" required></textarea>
            <span style="color:red" ng-show="conForm.mess.$dirty && conForm.mess.$invalid">
                <span ng-show="conForm.mess.$error.required">Message is required.</span>
                <span ng-show="conForm.mess.$error.mess">Invalid email address.</span>
                <span ng-minlength="minlength">Message must be over 10 characters</span>
                <span ng-maxlength="maxlength">Message must not exceed 100 characters</span>
            </span>
        </p>

        <p>
            <label>Phone Number:</label>
            <input type="text" name="mob" ng-model="mob" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" ng-minlength="10" ng-maxlength="10" required />
            <span style="color:red" ng-show="conForm.mob.$dirty && conForm.mob.$invalid">
                <span ng-show="conForm.mob.$error.required">This field is required</span>
                <span ng-pattern="conForm.mob.$error.mob">Must be a valid 10 digit phone number</span>
            </span>
        </p>

        <button class="submit_btn" type="button" ng-click="insertdata()" >{{btnName}}</button>
        <br />
        {{msg}}


    </form>

    <!--Table Preview-->
   
    <!--<table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mess</th>
                <th>Mob</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in data">
                <td>{{contact.conid}}</td>
                <td>{{contact.conname}}</td>
                <td>{{contact.conemail}}</td>
                <td>{{contact.conmess}}</td>
                <td>{{contact.conmob}}</td>
                <td><button ng-click="deleteStud(contact.conid);">Delete</button></td>
                <td><button ng-click="editStud(contact.conid, contact.conname);">Edit</button></td>

            </tr>
        </tbody>
    </table>-->
 
</div>
  
</div>

