@media screen and (min-width: 320px) and (max-width: 480px){
.navbar-right {
	float: right !important;
	margin-right: 95px !important;
}
.navbar-nav > li {
	padding: 0px 60px !important;
}
.navbar-brand {
	margin: 0px 0px 0px 10px !important;
}
.home{width: 320px;height: 480px;background-image: url("../imgs/1-1m.jpg");background-attachment: fixed;}
.about{width: 320px;height: 480px;}
.works{width: 320px;height: 480px;background-image: url("../imgs/2-2m.jpg");background-attachment: fixed;}
.contact{width: 320px;height: 480px;background-color: lightblue;}
.lable {
	padding-top: 55px;
	font-size: 40px;
}
.enter {
	left: 35.5%;
}
.c1{
	border: 2px solid black;
}
@media screen and (min-width: 768px) and (max-width: 1024px){

}